<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
        <div>
            <h1 class="logo">CMPE 285 Project</h1>
        </div>
        </header>
        <div>
            <canvas id="myChart" width="400" height="100"></canvas>
            <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
        </div>
    </body>
</html>